# Runtime configuration for Aerialist/PX4 execution

LOGS_COPY_DIR=results/
RESULTS_DIR=results/
TESTS_FOLDER=generated_tests/

AGENT=docker
SIMULATOR=ros
SPEED=1
ROBOT=px4_ros
HEADLESS=True

USE_GPS=False
PLOT_TESTS_XYZ=False
ALLIGN_ORIGIN=True
USE_RADIANS=False
LOAD_HOME_FROM_LOG=True

DOCKER_IMG=skhatiri/aerialist:2.0
DOCKER_TIMEOUT=1000
